/.vagrant
/scrapy.iml
*.pyc
_trial_temp*
dropin.cache
docs/build
*egg-info
.tox
venv
build
dist
*.spec
.idea
htmlcov/
.coverage
.pytest_cache/
.coverage.*
.cache/
.pytest_cache/
dev-ops.log

# Windows
Thumbs.db